main {
    width: 100%;
    max-width: 1000px;
}

main img {
    width: 150px;
    height: auto;
}

aside {
    width: 100%;
    max-width: 300px;
    margin: 20px;
    border: rgba(0, 0, 0, 0.1) solid 5px;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: rgba(0, 0, 0, 0.1) solid 5px;
    text-align: center;
}