:root {
    --main-color: darkblue;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main {
    width: 100%;
    max-width: 1000px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 100%;
    max-width: 300px;
    margin: 20px;
    border: rgba(0, 0, 0, 0.1) solid 5px;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
}



footer {
    margin-top: 20px;
    border-top: rgba(0, 0, 0, 0.1) solid 5px;
    text-align: center;
}